//
// Tonbot Music Plugin Configuration
//

{
  // A YouTube API key is used for the Enhanced Now Playing feature, which
  // shows you more detail about the currently playing YouTube track.
  // Enhanced Now Playing is an optional but *highly recommended* feature.
  "youtubeApiKey" : "",

  // A Google Drive API key is used for supporting music playback using Google
  // Drive share links.
  "googleDriveApiKey" : "",

  // Spotify credentials are used for finding tracks using Spotify's
  // share links.
  "spotifyCredentials" : {
    "clientId" : "",
    "clientSecret" : ""
  }
}
